.App {
  text-align: center;
}

#game {
  background-image: linear-gradient(to right bottom, #000000, #39111b, #6d1027, #a4062c, #db0426);
}
#matches {
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
  padding-top: 30px;
}
.grid-container {
  display: grid;
  border: 1px;
  border-radius: 50px;
  /* background-color: rgb(196, 238, 8); */
  margin: 10px;
  padding: 10px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  
}

.grid-item {
  border-radius: 20px;
  background: rgba(0, 0, 0, .3);
  color: white;
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

button {
  text-align: center;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 20px;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}