.App {
  text-align: center;
}

#game {
  background-image: linear-gradient(to right bottom, #000000, #39111b, #6d1027, #a4062c, #db0426);
}
#matches {
  font-size: 60px;
  color: white;
  text-align: center;
}
.grid-container {
  display: grid;
  border: 1px;
  border-radius: 50px;
  /* background-color: rgb(196, 238, 8); */
  margin: 10px;
  padding: 10px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  
}

.grid-item{
  border-radius: 20px;
  background: rgba(255, 255, 255, .9);
  color: #2C2828;
  font-size: 60px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}
